@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.technology__container {
  height: calc(100% - 8.8rem);
  width: 100%;
  @include flexCenter(column, space-around, center);
  .technology__title {
    font-family: $font-subheading;
    font-size: 1.6rem;
  }
  .technology__image {
    width: 100%;
  }
  .technology__options {
    width: 50%;
    @include flexCenter(row, space-around,center);
    .technology__option {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      color: $tertiary-color;
      font-size: 1.6rem;
      border:solid 0.1rem #ffffff;
      cursor: pointer;
      @include flexCenter(row, center, center);
      &:hover {
        background-color: white;
        color:#0B0D17;
      }
      &.selected {
        background-color: white;
        color:#0B0D17;
      }
      span {
        transform: translateY(-0.33rem);
      }
    }
  }
  .technology__position {
    font-size: 1.6rem;
  }
  .technology__name {
    font-size: 2.4rem;
  }

  .technology__text {
    width: 90%;
    padding-bottom: 5.2rem;
    text-align: center;
    border-bottom: solid 0.1rem #383B4B;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

.technology__container {
  .technology__title {
    align-self: start;
    margin-left: 3.85rem;
  }
  .technology__options {
    width: 25%;
  }
  .technology__text {
    width: 45%;
    padding-bottom: 10.2rem;
  }
  }
}

@media screen and (min-width: 1024px) {
  .technology__container {
    @include flexCenter(row, center, center);
    .technology--left{
      width: 60%;
      height: 100%;
      padding:5rem 0 0 20vh;
      @include flexCenter(column, start,start);
      .technology__title {
        font-size: 2.8rem;
      }
      .technology__container--desktop {
        margin-top: 6rem;
        height: 50%;
        @include flexCenter(row,center,center);
        .technology__options {
          height: 100%;
          @include flexCenter(column,space-between,center);
          .technology__option {
            height: 8rem;
            width: 8rem;
          }
        }
        .information__container {
          height: 100%;
          margin-left: 4rem;
          .technology__name {
            font-size: 5.6rem;
          }
          .technology__text {
            font-size: 1.8rem;
            margin-top: 3rem;
            padding-bottom: 0;
            text-align: start;
            line-height: 1.5;
          }
        }
      }
    }
    .technology--right{
      width: 40%;
      height: 100%;
      @include flexCenter(row, end, center);
      .technology__image {
        height: 65%;
        width: auto;
        @include image;
      }
    }
  }
}