@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.crew__container {
  height: calc(100% - 8.8rem);
  width: 100%;
  @include flexCenter(column, space-around, center);
  .crew__title {
    font-family: $font-subheading;
    font-size: 1.6rem;
  }
  .crew__image {
    height: 17rem;
    width: 17rem;
  }
  .crew__options {
    width: 50%;
    @include flexCenter(row,space-evenly, center);
    .crew__option {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      color: $secondary-color;
      background-color: #979797;
      cursor: pointer;
      &:hover {
        background-color: white;
      }
      &.selected {
        background-color: white;
      }
    }
  }
  .crew__position {
    font-size: 1.6rem;
  }
  .crew__name {
    font-size: 2.4rem;
  }

  .crew__text {
    width: 90%;
    padding-bottom: 3.2rem;
    text-align: center;
    border-bottom: solid 0.1rem #383B4B;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .crew__container {
    .crew__title {
      align-self: start;
      margin-left: 3.85rem;
    }
    .crew__image {
      order:5;
      height: 57.2rem;
      width: 57.2rem;
    }
    .crew__options {
      order:4;
      width: 30%;
    }
    .crew__position {
      order:1;
    }
    .crew__name {
      order:2
    }
    .crew__text {
      order:3;
    }
  }
}

@media screen and (min-width: 1024px) {

  .crew__container {
    height: calc(100% - 9.6rem);
    width: 100%;
    @include flexCenter(row, center, center);
    .crew--left {
      width: 55%;
      height: 100%;
      padding-left: 16.5rem;
      @include flexCenter(column, space-evenly, start);
      .crew__title{
        order:1;
        font-size: 2.8rem;
      }
      .crew__options{
        order:5;
        width: 30%;
      }
      .crew__position{
        order:2;
        font-size: 3.2rem;
      }
      .crew__name {
        order:3;
        font-size: 5.6rem;
      }
      .crew__text{
        order:4;
        font-size: 1.8rem;
        text-align: start;
      }
    }
    .crew--right {
      width: 45%;
      height: 100%;
      @include flexCenter(row, center, center);
      .crew__image {
        height: 90%;
        width: auto;
      }
    }
  }
}