
@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  font-family: $font-heading;

}

body {
  color: $tertiary-color;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.8rem;
  letter-spacing: 0.475rem;
}

nav {
  font-size: 1.4rem;
  letter-spacing: 0.27rem;
  font-family: $font-subheading;
  color: $tertiary-color;
}

p {
  font-family: $font-other;
  color: $secondary-color;
  font-size: 1.6rem;
}

li {
  list-style: none;
}