$primary-color: #0B0D17;
$secondary-color: #D0D6F9;
$tertiary-color: #ffffff;
$font-heading: 'Playfair Display', serif;
$font-subheading:'Barlow Condensed', sans-serif;
$font-other: 'Barlow', sans-serif;
