$primary-color: #0B0D17;
$secondary-color: #D0D6F9;
$tertiary-color: #ffffff;
$font-heading: 'Playfair Display', serif;
$font-subheading:'Barlow Condensed', sans-serif;
$font-other: 'Barlow', sans-serif;

$homeMobileBackground: '../../assets/home/background-home-mobile.jpg';
$homeTabletBackground: '../../assets/home/background-home-tablet.jpg';
$homeDesktopBackground: '../../assets/home/background-home-desktop.jpg';

$destinationMobileBackground: '../../assets/destination/background-destination-mobile.jpg';
$destinationTabletBackground: '../../assets/destination/background-destination-tablet.jpg';
$destinationDesktopBackground: '../../assets/destination/background-destination-desktop.jpg';

$crewMobileBackground: '../../assets/crew/background-crew-mobile.jpg';
$crewTabletBackground: '../../assets/crew/background-crew-tablet.jpg';
$crewDesktopBackground: '../../assets/crew/background-crew-desktop.jpg';

$technologyMobileBackground: '../../assets/technology/background-technology-mobile.jpg';
$technologyTabletBackground: '../../assets/technology/background-technology-tablet.jpg';
$technologyDesktopBackground: '../../assets/technology/background-technology-desktop.jpg';
