@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;
@use'../../styles/main.scss' as *;

main {
  height: calc(100% - 8.8rem);
  width: 100%;
  @include flexCenter(column, flex-start, center);
  .home__information {
    width: 100%;
    padding: 0 2.4rem;
    height: 27.6rem;
    .text {
      width: 100%;
      margin-top: 2.4rem;
      text-align: center;
      font-size: 1.6rem;
      letter-spacing: 0.27rem;
      color:$secondary-color;
    }
    .home__title {
      text-align: center;
    }
    .home__text {
      text-align: center;
      line-height: 1.9;
      margin-top: 3.6rem;
    }
  }
  .home__image {
    width: 15rem;
    height: 15rem;
    background-color: white;
    border-radius:50%;
    margin-top: 9.5rem;
    @include flexCenter(row, center, center);
    .home__image-text {
      font-family: $font-other;
      font-size: 2rem;
      color:$primary-color;
      letter-spacing: 0.25rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
main {
  height: calc(100% - 16.6rem);
  .home__information {
    width: 60%;
    height: auto;
    .text {
      margin-top: 10.8rem;
      font-size: 2rem;
    }
    .home__title {
      font-size: 15rem;
      height: 45%;
    }
  }
  .home__image {
    margin-top: 12.5rem;
  }
}
}

@media screen and (min-width: 1024px) {
  main {
    height: calc(100% - 16.6rem);
    @include flexCenter(row,space-around,center);
    .home__information {
      width: 40%;
      height: auto;
      .text {
        margin-top: 10.8rem;
        font-size: 2.8rem;
      }
      .home__title {
        font-size: 15rem;
        height: 45%;
      }
      .home__text{
        text-align: start;
        font-size: 1.8rem;
      }
    }
    .home__image {
      margin-top: 20rem;
      height: 27.4rem;
      width: 27.4rem;
    }
  }
}
